html {
    background-color: #FFFFFF;
}

#container{
    width: 35%;
    margin: 10% auto;
    display: grid;
    height: 26em;
    padding: 34px;
    background-color: #1F78FF;
    grid-template-columns: repeat(4, 23%);
    
    gap: 12px;
}

#display {
    color: #1F78FF;
    background-color: #F9dc5c;
   
    height: 100px;
    grid-column: 1/4;
    margin-bottom: 2%;
    font-size: 5.4em;
    text-align: right;
}

.btn {
    height: 4.65em;
    width: 100%;
    border: none;
    font-size: .9em;
    color: #FDFFFC;
    background-color: #235789;
    text-align: center;
}

#backspace {
    height: 100px;
    color: #E42535;
    background-color: #FDFFFC;
    border: none;
}


i {
    color: #E42535;
    font-size: 50px;
    margin-top: 10;
}
.operator {
   background-color: #F9dc5c;
   color: #235789;
}
#clear { 
    background-color: #E42535;
}
span {
    font-size: 3.9em;
}


.bottomRow{
    grid-template-columns: repeat(5, 1fr);
    display: grid;
    width: 500px;
    text-align: center;
    gap: 12px;
    justify-content: space-around;
}

.btmRow {
    width: 125px;

    
}

#clear {
    width: 100px;
    margin-left: 148px;
}

