#header {
    text-align: center;
}

#container {
    margin: 0 auto;
    text-align: center;
}

#display {
    border: 1px solid black;
}

input[type='button'] {
    color: red;
    height: 50px;
    width: 50px;
}